<div class="wrapper">
  <p class="level">Уровень {{ data.levelNumber }}</p>
  <div class="words">
    @for(item of data.words; track $index){
      <div class="word">
        @if(data.findedWords.includes($index)){
          @for(word of item; track $index){
            <div [style]="calcWordBlock()" class="word-block complete">
              @if(true){
                <p>{{ word }}</p>
              }
            </div>
          }
        } @else {
          @for(word of item; track $index){
            <div [style]="calcWordBlock()" class="word-block hidden"></div>
          }
        }
      </div>
    }
  </div>

  <div class="finded-word">
    @for(item of data.addedLetters; track item){
      <div class="find">{{ item }}</div>
    }
  </div>
  <div class="circle" chooseWords chooseWordsMobile>
    @for(word of data.wordArr; track $index){
      <div class="block" [style]="calcDeg($index)">
        <div
          class="block-inner block-{{ $index }}"
          [style]="calcDeg($index, true)"
        >
          {{ word }}
        </div>
      </div>
    }
  </div>
</div>

@if(data.completeLevel){
  <app-complete-page
    [levelNumber]="data.levelNumber"
    (onNextLevel)="nextLevel()"
  ></app-complete-page>
}

@if(nonActualSession){
  <app-reload-dialog></app-reload-dialog>
}
